@model kutuphane.Models.KayitModel
<h3>Kayıt ekle</h3>
<hr />

<form method="post" asp-action="KayitEkle" asp-controller="KayitEdit">
    <div class="mb-3">
        <label asp-for="AdSoyad" class="form-label">Ad Soyad</label>
        <input asp-for="AdSoyad" class="form-control" placeholder="Ad Soyad" />
        <span asp-validation-for="AdSoyad" class="text-danger"></span>
    </div>

    <form asp-controller="KayitEdit" asp-action="Index" method="post">
        <label asp-for="KitapAdi">Kitabı seç:</label>
        <select asp-for="KitapAdi" asp-items="@ViewBag.kitapL" class="form-control"></select>
            <input asp-for="KitapAdi" type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</form>





