@model KayitModel

<h3>Kayıt ekle</h3>
<hr />

@*<form method="post" asp-action="KayitEkle" asp-controller="KayitEdit">
    <div class="mb-3">
        <label asp-for="AdSoyad" class="form-label">Ad Soyad</label>
        <input asp-for="AdSoyad" class="form-control" placeholder="Ad Soyad" />
        <span asp-validation-for="AdSoyad" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="KitapAdi" class="form-label">Kitap Adı</label>
        <input asp-for="KitapAdi" class="form-control" placeholder="Kitap Adı" />
        <span asp-validation-for="KitapAdi" class="text-danger"></span>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Kayıt Ekle</button>
    </div>
</form>*@