@model List<BookModel>
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="d-grid">
        <a asp-action="AddBook" asp-controller="Book" class="btn btn-primary mb-3">Kitap Ekle</a>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Durum</th>
            <th>Kitap Adı</th>
            <th>Düzenle/sil</th>
        </tr>
        @if (Model != null && Model.Any())
        {
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.BookId</td>
                    @if (book.Status == true)
                    {
                        <td>Mevcut</td>
                    }
                    else{<td>Dışarıda</td>}
                    <td>@book.Book</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a asp-action="BookEdit" asp-controller="Book" asp-route-id="@book.BookId" class="btn btn-primary mb-3">Kitap Düzenle</a>
                            <a asp-action="BookDelete" asp-controller="Book" asp-route-id="@book.BookId" class="btn btn-danger mb-3">Kitap Sil</a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    <div>
                        Hiç bir kayıt bulunamadı.
                    </div>
                </td>
            </tr>
        }
    </table>
</div>


