@model kutuphane.Models.Book

<h3>kitap ekle</h3>
<hr />
<form method="post" asp-action="Add" asp-controller="Book">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Kitap Adı</label>
        <input asp-for="Name" class="form-control" placeholder="Kitap Adı" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Writer" class="form-label">Yazar Adı</label>
        <input asp-for="Writer" class="form-control" placeholder="Yazar Adı" />
        <span asp-validation-for="Writer" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Ekle</button>
    </div>
</form>

