@model kutuphane.Models.Book

<h3>Kitap Bakıma Al/Çıkar</h3>
<hr />
<form method="post" asp-action="Maintenance" asp-controller="Book">
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly />
    </div>
    <label>Durumu</label>
    <div class="form-check">
        <input type="radio" asp-for="IsInLibrary" value="-1" class="form-check-input" disabled />
        <label class="form-check-label">Bakımda</label>
    </div>
    <div class="form-check">
        <input type="radio" asp-for="IsInLibrary" value="1" class="form-check-input" disabled />
        <label class="form-check-label">Mevcut</label>
    </div>
    <div class="form-check">
        <input type="radio" asp-for="IsInLibrary" value="2" class="form-check-input" disabled />
        <label class="form-check-label">Dışarıda</label>
    </div>
    <hr />
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Kitap Adı</label>
        <input asp-for="Name" class="form-control" placeholder="Kitap Adı" readonly />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Writer" class="form-label">Yazar Adı</label>
        <input asp-for="Writer" class="form-control" placeholder="Yazar Adı" readonly />
        <span asp-validation-for="Writer" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CreatedOn" class="form-label">Eklenme Tarihi</label>
        <input asp-for="CreatedOn" class="form-control" type="date" readonly />
        <span asp-validation-for="CreatedOn" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ModifiedOn" class="form-label">Düzenlenme Tarihi</label>
        <input asp-for="ModifiedOn" class="form-control" type="date" readonly />
        <span asp-validation-for="ModifiedOn" class="text-danger"></span>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Düzenle</button>
    </div>
</form>
@if (TempData["BookMaintenanceError"] != null)
{
    <div class="alert alert-danger">
        @TempData["BookMaintenanceError"]
    </div>
}

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
