@model kutuphane.Models.RegistrationModel
<h3>Kayıt ekle</h3>
<hr />

<form method="post" asp-action="AddRegister" asp-controller="Registration">
    <div class="mb-3">
        <label asp-for="NameSurname" class="form-label">Ad Soyad</label>
        <input asp-for="NameSurname" class="form-control" placeholder="Ad Soyad" />
        <span asp-validation-for="NameSurname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <form asp-controller="Registration" asp-action="DropDownList" method="post">
            <label asp-for="BookName">Kitabı seç:</label>
            <select asp-for="BookName" asp-items="@ViewBag.kitapL" class="form-control"></select>
            <input asp-for="BookName" type="submit" value="Submit" class="btn btn-primary" />
        </form>
    </div>
</form>